.App {
  background-color: aliceblue;
  padding: 10px;
  margin: auto;
}

.top-header {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(22, 22, 22);
  padding: 20px;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

.article {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.page-title {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.article-title {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  padding: 10px;
}

.article-content {
  padding: 10px;
}

.article-link {
  padding: 10px;
  color: #61dafb;
}